.main {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  border: 1px solid red;
}
.section {
  display: flex;
  justify-content: space-around;
}
.text_box {
  width: 15em;
  padding: 1em;
}
.search_box {
  width: 15em;
  display: flex;
  position: relative;
  padding: 1em;
}
.input_box {
  width: 100%;
}
.input_box input {
  width: 100%;
  padding: 0.6em;
  border-radius: 10px;
  font-size: 15px;
  border: 1px solid rgb(219, 217, 217);
}
.input_box input::placeholder {
  color: rgb(219, 217, 217);
}
.icons_wrap {
  display: flex;
  font-size: 1.3em;
  position: absolute;
  right: 1.4em;
  top: 23px;
}
.icons_wrap div {
  position: absolute;
  cursor: pointer;
}
.search {
  color: rgb(219, 217, 217);
}
