header {
  background-color: rgb(16, 13, 71);
  color: #fff;
  display: flex;
  justify-content: space-between;
}
a {
  color: #fff;
  text-decoration: none;
}

ul,
p,
h2,
h5,
input {
  margin: 0;
  padding: 0;
  list-style: none;
}
main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em 0;
}
.ql-editor {
  min-height: 400px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 50px auto;
}
.pagination li {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.pagination li.active {
  background-color: lightgray;
}
.pagination li a {
  color: #000;
}
.pagination li:hover {
  background-color: lightgray;
}
