header {
  background-color: rgb(16, 13, 71);
  color: #fff;
  display: flex;
  justify-content: space-between;
}
a {
  color: #fff;
  text-decoration: none;
}

ul,
p,
h2,
h5,
input {
  margin: 0;
  padding: 0;
  list-style: none;
}
main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em 0;
}
.ql-editor {
  min-height: 400px;
}
