header {
  background-color: rgb(16, 13, 71);
  color: #fff;
  display: flex;
  justify-content: space-between;
}
a {
  color: #fff;
  text-decoration: none;
}
h2 {
  margin: 0;
}
input {
  padding: 0;
}
p {
  margin: 0;
}
